chat/
.env
services/credentials.json
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
lib/
bin/
include/
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
credentials_gmail.json
token.json
habilitaapigmail.py
token_personal.json
credentials_gmail_persona.json
generator.py